*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: 'Qwitcher Grypen', sans-serif;
    font-size: xx-large;
}

body {
    margin-top: 80px;
}

.header {
    text-align: center;
}

.nav__link {
    text-decoration: none;
    color: rgb(12, 210, 232);
}

.nav {
    margin-bottom: 2.3rem;
    font-size: xx-large;
}

.nav__link:not(:last-of-type){
    margin-right: 3rem;
}

.nav__link--active,
.nav__link:hover {
    font-weight: bold;
    font: bold;
    font-family: monospace;
}

.main{
    margin: 0 auto;
}
.main--aboutme{
    margin: 6rem;
    padding: 0 1rem;
    line-height: 150%;
    font-size: 120%;
    text-align: justify;
}

.contact{
    /* display: flex; */
    display: grid;
    justify-content: center;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;

}

.contact__details{
    margin-left: 1ch;
}

.contact__link{
    text-decoration: none;
    box-shadow: 0 3px 0 0 rgb(2, 39, 26) ;
    color: rgb(4, 59, 41);
}

.contact__link:hover{
    color: rgb(11, 39, 100) ;
}

.u-bare-link{
    text-decoration: none;
}

.projects {
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    column-gap: 1.25rem;
}

@media(min-width : 48.75em){
    .projects{
        grid-template-columns: repeat(2, 1fr);
        max-width: 45rem;
    }
}

@media(min-width : 70em){
    .projects{
        grid-template-columns: repeat(3, 1fr);
        max-width: 68rem;
    }
}

.project-card{
    padding: 0.75rem 0;
}

.project-card__image{
    max-width: 100%;
    margin-bottom: 1rem;
    /* transition: transform cubic-bezier(0.075, 0.82, 0.165, 1); */
    transition: transform 0.2s ease-in-out;
    border-radius: 1.25rem;
}

.project-card__meta{
    padding: 0 1.25rem;

}

.project-card__name{
    margin: 0;
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: #031a2c;
}

.project-card:hover .project-card__image {
    transform: translateY(-0.5rem);
}

.project-card:hover .project-card__name{
    text-decoration: underline;
}

.categories{
    display: flex;
    padding: 0;
    margin: 0 0 0.75rem;
    color: #043e29;
    list-style: none;
    font-size: 1rem;
    letter-spacing: 0.075rem;

}

.categories__tag:not(:last-of-type)::after {
    content: "|";
    margin: 0 0.25rem;
}